node_modules
scraper/node_modules
scraper/archive/*
config.json
scraper/kitas.json
scraper/kitas_keys.json
scraper/individual/*
scraper/data/*
routing/data/*
georeference/data/*
.DS_Store
app/google9cc924a913d750d9.html
app/.well-known