/*
font-family: 'Open Sans', sans-serif;
font-family: 'Heebo', sans-serif;
*/

html, body{ 
  margin:0; 
  padding:0; 
  border:0; 
  width:100%; 
  height:100%; 
  font-family: 'Open Sans', sans-serif;
}

#header{
  position:fixed;
  top:0;
  left:0;
  height:50px;
  width:100%;
  background-color:#1d3494;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
  -moz-box-shadow:    0px 0px 10px 0px rgba(0,0,0,0.2);
  box-shadow:         0px 0px 10px 0px rgba(0,0,0,0.2);
  padding:0;
  margin:0;
}

#logo{
  float:left;
  margin-top:-40px;
  margin-left:10px;
}

#logo line{
  stroke-width:4px;
}

h1{
  float:left;
  padding:11px 0 0 0;
  margin:0;
  font-family: 'Contrail One', cursive;
  font-weight:400;
  font-size:24px;
  color:#fff;
  height:100px;
  text-shadow: 0px 0px 5px rgba(0,0,0,0.5);
}

#exit{
  float:right;
}

#exit a{
  color:#fff;
  text-decoration: none;
  font-style: italic;
  font-weight:300;
  text-shadow: 0px 0px 5px rgba(0,0,0,0.5);
  padding: 10px 0 0 0;
  background-size:7px 12px;
  display: block;
  margin-right:15px;
  letter-spacing: 0.5px;
  cursor: pointer;
}

#exit a .arrow{
  font-size:20px;
}

#exit a:hover{
  text-shadow: 1px 1px 0px #6ECDF5;
}

#welcome, #vis{
  display: none;
}

.outer {
    display: table;
    position: absolute;
    height: 90%;
    width: 100%;
    pointer-events: none;
}

.middle {
    display: table-cell;
    vertical-align: middle;
    pointer-events: none;
}

.inner {
    margin-left: auto;
    margin-right: auto; 
    width: 100%;
    pointer-events: none;
}

#loader{
  margin-left:50%;
}

#loader img{
  float:left;
  margin-left:-64px;
  width:64px;
  height:64px;
}

#loader img.i1{
  margin-left:-32px;
  -webkit-animation: rotatingR 2s cubic-bezier(0.410, 0.210, 0.620, 0.845) infinite;
  -moz-animation: rotatingR 2s cubic-bezier(0.410, 0.210, 0.620, 0.845) infinite;
  -ms-animation: rotatingR 2s cubic-bezier(0.410, 0.210, 0.620, 0.845) infinite;
  -o-animation: rotatingR 2s cubic-bezier(0.410, 0.210, 0.620, 0.845) infinite;
  animation: rotatingR 2s cubic-bezier(0.410, 0.210, 0.620, 0.845) infinite;
}

#loader img.i2{
  -webkit-animation: rotatingL 2s 1.5s cubic-bezier(0.410, 0.210, 0.620, 0.845) infinite;
  -moz-animation: rotatingL 2s 1.5s cubic-bezier(0.410, 0.210, 0.620, 0.845) infinite;
  -ms-animation: rotatingL 2s 1.5s cubic-bezier(0.410, 0.210, 0.620, 0.845) infinite;
  -o-animation: rotatingL 2s 1.5s cubic-bezier(0.410, 0.210, 0.620, 0.845) infinite;
  animation: rotatingL 2s 1.5s cubic-bezier(0.410, 0.210, 0.620, 0.845) infinite;
}

#loader img.i3{
  -webkit-animation: rotatingR 2s 1s cubic-bezier(0.410, 0.210, 0.620, 0.845) infinite;
  -moz-animation: rotatingR 2s 1s cubic-bezier(0.410, 0.210, 0.620, 0.845) infinite;
  -ms-animation: rotatingR 2s 1s cubic-bezier(0.410, 0.210, 0.620, 0.845) infinite;
  -o-animation: rotatingR 2s 1s cubic-bezier(0.410, 0.210, 0.620, 0.845) infinite;
  animation: rotatingR 2s 1s cubic-bezier(0.410, 0.210, 0.620, 0.845) infinite;
}

#loader img.i4{
  -webkit-animation: rotatingL 2s 0.5s cubic-bezier(0.410, 0.210, 0.620, 0.845) infinite;
  -moz-animation: rotatingL 2s 0.5s cubic-bezier(0.410, 0.210, 0.620, 0.845) infinite;
  -ms-animation: rotatingL 2s 0.5s cubic-bezier(0.410, 0.210, 0.620, 0.845) infinite;
  -o-animation: rotatingL 2s 0.5s cubic-bezier(0.410, 0.210, 0.620, 0.845) infinite;
  animation: rotatingL 2s 0.5s cubic-bezier(0.410, 0.210, 0.620, 0.845) infinite;
}

@-webkit-keyframes rotatingR {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotatingR {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes rotatingL {
  from {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
  to {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

@keyframes rotatingL {
  from {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
  to {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

#welcome{
  padding-top:20px;
}

#welcome h2, #welcome p{
  display: block;
  width:100%;
  text-align:center;
  font-family:'Open Sans', sans-serif;
  font-weight: 300;
  font-size:16px;
}

#welcome h2{
  font-weight:700;
  font-size:24px;
}

#welcome #form{
  display: block;
  width:300px;
  max-width:100%;
  margin:0 auto;
}

#welcome input, #welcome select{
  border:2px solid rgba(0,0,0,0.7);
  font-size:16px;
  padding:1%;
  border-radius: 3px;
  height:24px;
  line-height:24px;
  background-color: rgba(0,0,0,0.02);
  outline:none;
  margin-bottom:10px;
}

#welcome input#address{
  float:left;
  width:72%;
}

#welcome select{
  float:left;
  margin-left:2%;
  width:22%;
  height:34px;
}

#welcome input#submit{
  clear:both;
  display: block;
  width:auto;
  padding:0 20px;
  margin:0 auto;
  height:35px;
  background-color: rgba(0,0,0,0.4);
  color:#fff;
  cursor:pointer;
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  -ms-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

#welcome input#submit:hover{
  background-color: rgba(0,0,0,0.55);
}

#autosuggest{
  width:100%;
  clear: both;
  background-color:rgba(0,0,0,0.2);
  border-radius:3px;
  margin-bottom:10px;
  display: none;
}

#autosuggest span{
  display: block;
  padding-top:15px;
  margin:0 15px;
}

#autosuggest ul, #autosuggest li{
  list-style: none;
  padding:0;
  margin:0;
}

#autosuggest li{
  margin:5px 15px;
}

#autosuggest li:first-child{ padding-top:5px; }
#autosuggest li:last-child{ padding-bottom:15px; }

#autosuggest li a{
  cursor:pointer;
}

#autosuggest li a:hover, #autosuggest li.active a{
  font-weight: 700;
}