/*
font-family: 'Open Sans', sans-serif;
font-family: 'Heebo', sans-serif;
*/

html, body{ 
  margin:0; 
  padding:0; 
  border:0; 
  width:100%; 
  height:100%; 
  font-family: 'Open Sans', sans-serif;
}

::-webkit-scrollbar {
    width: 5px;
    height: 3px;
    border-left: 0;
    background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-track {
    background: none;
}

::-webkit-scrollbar-thumb {
    background: #1d3494;
    border-radius: 0;
}

#header{
  position:fixed;
  z-index:99;
  top:0;
  left:0;
  height:50px;
  width:100%;
  background-color:#1d3494;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
  -moz-box-shadow:    0px 0px 10px 0px rgba(0,0,0,0.2);
  box-shadow:         0px 0px 10px 0px rgba(0,0,0,0.2);
  padding:0;
  margin:0;
}

#logo{
  float:left;
  margin-top:-40px;
  margin-left:10px;
}

#logo line{
  stroke-width:4px;
}

h1{
  float:left;
  padding:11px 0 0 0;
  margin:0;
  font-family: 'Contrail One', cursive;
  font-weight:400;
  font-size:24px;
  color:#fff;
  height:100px;
  text-shadow: 0px 0px 5px rgba(0,0,0,0.5);
}

#exit{
  float:right;
}

#exit a{
  color:#fff;
  text-decoration: none;
  font-style: italic;
  font-weight:300;
  text-shadow: 0px 0px 5px rgba(0,0,0,0.5);
  padding: 10px 0 0 0;
  background-size:7px 12px;
  display: block;
  margin-right:15px;
  letter-spacing: 0.5px;
  cursor: pointer;
}

#exit a .arrow{
  font-size:20px;
}

#exit a:hover{
  text-shadow: 1px 1px 0px #6ECDF5;
}

#welcome, #vis{
  display: none;
}

.outer {
    display: table;
    position: absolute;
    height: 90%;
    width: 100%;
    pointer-events: none;
}

.middle {
    display: table-cell;
    vertical-align: middle;
    pointer-events: none;
}

.inner {
    margin-left: auto;
    margin-right: auto; 
    width: 100%;
    pointer-events: none;
}

#loader{
  margin-left:50%;
  z-index:4;
}

#loader img{
  float:left;
  margin-left:-64px;
  width:64px;
  height:64px;
}

#loader img.i1{
  margin-left:-32px;
  -webkit-animation: rotatingR 2s cubic-bezier(0.410, 0.210, 0.620, 0.845) infinite;
  -moz-animation: rotatingR 2s cubic-bezier(0.410, 0.210, 0.620, 0.845) infinite;
  -ms-animation: rotatingR 2s cubic-bezier(0.410, 0.210, 0.620, 0.845) infinite;
  -o-animation: rotatingR 2s cubic-bezier(0.410, 0.210, 0.620, 0.845) infinite;
  animation: rotatingR 2s cubic-bezier(0.410, 0.210, 0.620, 0.845) infinite;
}

#loader img.i2{
  -webkit-animation: rotatingL 2s 1.5s cubic-bezier(0.410, 0.210, 0.620, 0.845) infinite;
  -moz-animation: rotatingL 2s 1.5s cubic-bezier(0.410, 0.210, 0.620, 0.845) infinite;
  -ms-animation: rotatingL 2s 1.5s cubic-bezier(0.410, 0.210, 0.620, 0.845) infinite;
  -o-animation: rotatingL 2s 1.5s cubic-bezier(0.410, 0.210, 0.620, 0.845) infinite;
  animation: rotatingL 2s 1.5s cubic-bezier(0.410, 0.210, 0.620, 0.845) infinite;
}

#loader img.i3{
  -webkit-animation: rotatingR 2s 1s cubic-bezier(0.410, 0.210, 0.620, 0.845) infinite;
  -moz-animation: rotatingR 2s 1s cubic-bezier(0.410, 0.210, 0.620, 0.845) infinite;
  -ms-animation: rotatingR 2s 1s cubic-bezier(0.410, 0.210, 0.620, 0.845) infinite;
  -o-animation: rotatingR 2s 1s cubic-bezier(0.410, 0.210, 0.620, 0.845) infinite;
  animation: rotatingR 2s 1s cubic-bezier(0.410, 0.210, 0.620, 0.845) infinite;
}

#loader img.i4{
  -webkit-animation: rotatingL 2s 0.5s cubic-bezier(0.410, 0.210, 0.620, 0.845) infinite;
  -moz-animation: rotatingL 2s 0.5s cubic-bezier(0.410, 0.210, 0.620, 0.845) infinite;
  -ms-animation: rotatingL 2s 0.5s cubic-bezier(0.410, 0.210, 0.620, 0.845) infinite;
  -o-animation: rotatingL 2s 0.5s cubic-bezier(0.410, 0.210, 0.620, 0.845) infinite;
  animation: rotatingL 2s 0.5s cubic-bezier(0.410, 0.210, 0.620, 0.845) infinite;
}

@-webkit-keyframes rotatingR {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotatingR {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes rotatingL {
  from {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
  to {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

@keyframes rotatingL {
  from {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
  to {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

#welcome{
  padding-top:20px;
}

#welcome h2, #welcome p{
  display: block;
  width:100%;
  text-align:center;
  font-family:'Open Sans', sans-serif;
  font-weight: 300;
  font-size:16px;
}

#welcome h2{
  font-weight:700;
  font-size:24px;
}

#welcome #form{
  display: block;
  width:300px;
  max-width:100%;
  margin:0 auto;
}

#welcome input, #welcome select{
  border:2px solid rgba(0,0,0,0.7);
  font-size:16px;
  padding:1%;
  border-radius: 3px;
  height:24px;
  line-height:24px;
  background-color: rgba(0,0,0,0.02);
  outline:none;
  margin-bottom:10px;
}

#welcome input#address{
  float:left;
  width:72%;
}

#welcome select{
  float:left;
  margin-left:2%;
  width:22%;
  height:34px;
}

#welcome input#submit{
  clear:both;
  display: block;
  width:auto;
  padding:0 20px;
  margin:0 auto;
  height:35px;
  background-color: rgba(0,0,0,0.4);
  color:#fff;
  cursor:pointer;
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  -ms-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

#welcome input#submit:hover{
  background-color: rgba(0,0,0,0.55);
}

#autosuggest{
  width:100%;
  clear: both;
  background-color:rgba(0,0,0,0.2);
  border-radius:3px;
  margin-bottom:10px;
  display: none;
}

#autosuggest span{
  display: block;
  padding-top:15px;
  margin:0 15px;
}

#autosuggest ul, #autosuggest li{
  list-style: none;
  padding:0;
  margin:0;
}

#autosuggest li{
  margin:5px 15px;
}

#autosuggest li:first-child{ padding-top:5px; }
#autosuggest li:last-child{ padding-bottom:15px; }

#autosuggest li a{
  cursor:pointer;
}

#autosuggest li a:hover, #autosuggest li.active a{
  font-weight: 700;
}

/*--- MAP ---*/

#map{
  width:100%;
  height:100vh;
  z-index: 2;
}

#sidebar{
  width:420px;
  height:100vh;
  position: fixed;
  left:-360px;
  top:0;
  z-index: 3;
  display: none;
  opacity: 0;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
  -moz-box-shadow:    0px 0px 10px 0px rgba(0,0,0,0.2);
  box-shadow:         0px 0px 10px 0px rgba(0,0,0,0.2);
}

#sidebar-content{
  float:left;
  width:360px;
  height:100vh;
  background-color:#fff;
}

#sidemenu{
  float:left;
  height:100vh;
  width:60px;
  background-color:#3453CC;
}

#sidemenu ul, #sidemenu ul li{
  list-style: none;
  margin:0;
  padding:0;
  color:#fff;
  font-size:14px;
  text-align: center;
}

#sidemenu ul li{
  padding: 10px 0 10px 0;
  width:60px;
}

#sidemenu ul li.active,
#sidemenu ul li:hover{
  background-color:#fff;
  color:#000;
  cursor: pointer;
}

#sidemenu ul.top{
  position: absolute;
  top:50px;
}

#sidemenu ul.bottom{
  position: absolute;
  bottom:5px;
}

#sidemenu span{
  display: block;
  text-align: center;
}

#sidemenu li img{
  margin: 0 auto;
}

#sidemenu li .black{display: none;}
#sidemenu li .white{display: block;}
#sidemenu li:hover .black,
#sidemenu li.active .black{display: block;}
#sidemenu li:hover .white,
#sidemenu li.active .white{display: none;}

#reset{
  float:right;
  font-size:14px;
  margin:-22px 20px 0 0;
  display: none;
}

#reset:hover{
  opacity: 0.5;
  cursor: pointer;
}

#reset img{
  margin-right:5px;
}

#filter{
  display: none;
  width:360px;
  height:100vh;
  background-color:rgba(255,255,255,1);
  overflow-y:auto;
}

#filter-container{
  margin-top:70px;
}

#filter p{
  font-size:14px;
  display: block;
  margin:20px;
}

#filter p img{
  float:left;
  margin-right:10px;
  width:24px;
  height:36px;
}

#filter .inner{
  pointer-events: all;
}

#filter strong{
  font-size:18px;
  font-weight: bold;
  display: block;
  margin-left:20px;
}

.filter-title{
  cursor: pointer;
  font-size:18px;
  font-weight: normal;
  padding-bottom:10px;
  display: block;
  padding-top:5px;
}

.filter-title.active{
  font-weight:bold;
  background-image:url('../images/close@2x.png');
  background-size:20px 20px;
  background-repeat: no-repeat;
  background-position: right 7px;
}

.filter-title:hover{
  opacity: 0.5;
}

.filter-title img{
  width:20px;
  height:20px;
  margin-right:7px;
  float:left;
  margin-top:3px;
}

.filter-container{
  margin:10px 20px 0 0;
  width:314px;
  padding-left:15px;
  border-left:5px solid #fff;
}

.filter-container.filter-set{
  border-left:5px solid #1d3494;
}

.filter-list-container li svg{
  margin:2px 0 7px 0;
  float:left;
}

.filter-list-container li span.label{
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow-y:visible;
  overflow-x: hidden;
  height:15px;
  margin:0;
  padding:0;
}

ul.filter-list-container,
ul.filter-list-container li{
  list-style: none;
  margin: 0;
  padding: 0;
  font-size:14px;
  line-height:11px;
  clear:both;
}

ul.filter-list-container li:before{
   content: '';
   margin-top:-2px;
   display: inline-block;
   height: 20px;
   width: 20px;
   float:left;
   margin-left:2px;
   margin-right:5px;
   background-image: url('../images/icon-check@2x.png');
   background-size:20px 20px;
   margin-bottom:4px;
}

ul.filter-list-container li.active:hover:before,
ul.filter-list-container li.active:before{ 
  background-image: url('../images/icon-checked@2x.png'); 
}

ul.filter-list-container li:hover:before{ 
  background-image: url('../images/icon-precheck@2x.png'); 
}

ul.filter-list-container li:hover,
ul.filter-list-container li.active{
  cursor: pointer;
  font-weight:bold;
}

ul.filter-list-container li{
  padding-bottom:10px;
}

.filter-container line.bar.bg{
  stroke:#DDD;
  stroke-width:5px;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.filter-container line.bar.data{
  stroke:#1d3494;
  stroke-width:2px;
  stroke-linecap: round;
  stroke-linejoin: round;
}