body,html{
	padding:0;
	margin:0;
	border: 0;
	font-size:16px;
}

@font-face { font-family: 'ClanOT-Medium'; font-weight: 400; src: url("https://www.technologiestiftung-berlin.de/typo3conf/sites/tsb/css/fonts/clanot/clanot-medium-webfont.eot"); src: url("https://www.technologiestiftung-berlin.de/typo3conf/sites/tsb/css/fonts/clanot/clanot-medium-webfont.eot?#iefix") format("embedded-opentype"), url("https://www.technologiestiftung-berlin.de/typo3conf/sites/tsb/css/fonts/clanot/clanot-medium-webfont.woff") format("woff"), url("https://www.technologiestiftung-berlin.de/typo3conf/sites/tsb/css/fonts/clanot/clanot-medium-webfont.ttf") format("truetype"), url("https://www.technologiestiftung-berlin.de/typo3conf/sites/tsb/css/fonts/clanot/clanot-medium-webfont.svg#clanot_medium") format("svg"); }
@font-face { font-family: 'ClanOT-Book'; font-weight: 400; src: url("https://www.technologiestiftung-berlin.de/typo3conf/sites/tsb/css/fonts/clanot/clanot-book-webfont.eot"); src: url("https://www.technologiestiftung-berlin.de/typo3conf/sites/tsb/css/fonts/clanot/clanot-book-webfont.eot?#iefix") format("embedded-opentype"), url("https://www.technologiestiftung-berlin.de/typo3conf/sites/tsb/css/fonts/clanot/clanot-book-webfont.woff") format("woff"), url("https://www.technologiestiftung-berlin.de/typo3conf/sites/tsb/css/fonts/clanot/clanot-book-webfont.ttf") format("truetype"), url("https://www.technologiestiftung-berlin.de/typo3conf/sites/tsb/css/fonts/clanot/clanot-book-webfont.svg#clanot_book") format("svg"); }
@font-face { font-family: 'TSB'; src: url("https://www.technologiestiftung-berlin.de/typo3conf/sites/tsb/css/fonts/tsbicons/TSB.eot?-9pwax"); src: url("https://www.technologiestiftung-berlin.de/typo3conf/sites/tsb/css/fonts/tsbicons/TSB.eot?#iefix-9pwax") format("embedded-opentype"), url("https://www.technologiestiftung-berlin.de/typo3conf/sites/tsb/css/fonts/tsbicons/TSB.woff?-9pwax") format("woff"), url("https://www.technologiestiftung-berlin.de/typo3conf/sites/tsb/css/fonts/tsbicons/TSB.ttf?-9pwax") format("truetype"), url("https://www.technologiestiftung-berlin.de/typo3conf/sites/tsb/css/fonts/tsbicons/TSB.svg?-9pwax#TSB") format("svg"); font-weight: 400; }

h1{
	font-family: 'ClanOT-Medium', sans-serif;
	padding:10px 0 0 0;
	margin:0;
}

h2{
	font-family: 'ClanOT-Book', sans-serif;
	padding:0;
	margin:0;
}

#intro, #footer{
	margin:0 5%;
	font-size:0.8em;
}

#intro p, #footer p{
	font-family: 'ClanOT-Book', sans-serif;
	font-size:1.1em;
}

label{
	display: none;
}

input{
	width:100%;
}
.powermail_fieldset { border:none; margin:0; padding:0; }
div.powermail_fieldwrap.powermail_fieldwrap_submit { margin-bottom: 0; }
div.powermail_fieldwrap .powermail_field { margin-bottom:10px; background: #f5f5f5; color: #000; font-size: 1em; text-indent:0.9375em; border: 0; height: 3.125em; border-bottom: 3px solid #000; box-shadow: none; border-radius: 0; -moz-border-radius: 0; -webkit-border-radius: 0; }
div.powermail_fieldwrap .powermail_field:focus { box-shadow: none; border-color: #e60032; }
div.powermail_fieldwrap .powermail_field.powermail_submit { width:auto; text-align:center; border: 2px solid #e60032; text-indent: 0; background-color: #e60032; border-radius:3em; color:#fff; height: 3.1875em; cursor: pointer; font-family: "ClanOT-Medium"; line-height: 3.1875em; padding: 0 0.9em; margin-top:10px; }
div.powermail_fieldwrap .powermail_field.powermail_submit:hover { color: #e60032; background-color:#fff; }
div.powermail_fieldwrap textarea.powermail_field { height: auto; padding-top: 0.9375em; }
div.powermail_fieldwrap_html{
	font-family: 'ClanOT-Book', sans-serif;
	font-size:0.9em;
}

div.powermail_fieldwrap_html a{
	text-decoration: none;
	color:#e60032;
}

input.powermail_field:focus { outline: medium none; }

#phone-teaser{
	text-align: center;
}

#phone-teaser img{
	width: 70%;
	max-width:306px;
	margin-top:40px;
}

#desktop-teaser{
	display: none;
}

#contribute{
	padding-top:20px;
	font-size:0.8em;
}

#contribute strong{
	font-family: 'ClanOT-Medium', sans-serif;
}

#contribute img{
	width:100%;
	max-width: 274px;
}

#footer{
	font-size:0.8em;
	padding-top:50px;
}

#footer p{
	font-size:0.875em;
}

#footer ul, #footer li{
	list-style: none;
	margin:0;
	padding:0;
}

#footer img{
	width:auto;
	height:70px;
	max-width: 100%;
}

@media (min-width: 768px) {

	#intro{
		float:left;
		margin:50px 0 0 80px;
		width:30%;
		max-width:370px;
	}

	#desktop-teaser{
		width:50%;
		max-width:598px;
		margin-top:50px;
	}

	#desktop-teaser img{
		width:100%;
	}

	#desktop-teaser, #phone-teaser{
		display: block;
		float:right;
	}

	#phone-teaser{
		display: none;
	}

	#footer{
		clear:both;
	}

	#footer li{
		float:left;
		margin-right:40px;
	}
}

@media (min-width: 1349px) {
	#phone-teaser{
		margin-top:300px;
	}

	body,html{
		font-size:18px;
	}
}

@media (min-width: 1369px) {
	#phone-teaser{
		display: block;
	}
}

@media (min-width: 1450px) {
	#phone-teaser{
		margin-top:150px;
		margin-right:50px;
	}
	#phone-teaser img{
		width: 100%;
		max-width:306px;
	}
}